
body
{
    background: #1EB0D7;
    font-family: Tahoma;
    font-size: 11px;
    margin: auto;
}
/* ESTILOS PARA LA IMAGEN DE ARRIBA */
#logo
{
    background: url(Img/productos.png) no-repeat right;
    background-size: 35%;
    padding: 20px 0px 0px;
    text-transform: uppercase;
}
/* Estilos para la Etiqueta "a" incluida en "H1" */
#logo h1 a
{
    margin: 0em;
    padding: 0em 0em 0em 0em;
    letter-spacing: -.1em;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}
/* Estilo para el subtítulo "BIENVENIDO A NUESTRO SITIO" */
#subtitulo
{
    padding: 0em;
    margin-top: -1em;
    font-size: 2em;
    /* Ahora si copila... */
    font-weight: bold;
    color: #BDF2FF;
}
/* Estilos para los elementos de la lista del menú */
#menu li
{
    display: block;
    float: left;
    margin-right: 0.12em;
    padding: 1em 1.5em;
    /* Va quedando... */
    /* Como se ve, se ha generado un cuadro para los botones */
    background: #178EAE;
    /* Se le da una sombra a los botones */
    box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.25);
    text-decoration: none;
    /* Se le da una sombra al texto */
    text-shadow: 1px 1px 0px #0C749C;
    text-transform: uppercase;
    font-size: .90em;
    color: #fff;
}
/* Estilo para la sección que muestra el contenido */
#seccion
{
    width: 1150px;
    padding: 20px 40px;
    background: #fff;
    height: 800px;
}
/* Estilo para la imagen que está dentro de la sección */
#imagen
{
    margin-top: 0em;
    width: 330px;
    height: 250px;
    text-align: center;
}
/* Estilo para el título dentro de la sección */
#subtitulo2
{
    font-family: tahoma, Geneva, sans-serif;
    font-size: 25px;
    color: #039;
}
/* Estilo para el texto del lado derecho */
#ladoderecho
{
    margin: -5px 20px 0px 0px;
    float: right;
    width: 65%;
    text-align: justify;
    color: #666;
}
/*Estilo para el texto del pie del documento */
#pie
{
    text-align: center;
}
/* Estilo para todos los párrafos del documento */
p
{
    font-family: tahoma;
    font-size: 11pt;
}

.boton1
{
    height: 38px;
    background: #fc7323;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

input
{
    width: 100%;
    height: 25px;
    border: 1px solid gray;
    margin-bottom: 5px;
}
